<div class="container-fluid margin-top-s">
  <div class=".col-lg-3 .col-md-4 .col-sm-12" style="width: 18rem"></div>
  <div class="card-deck justify-content-between container row">
    <div [formGroup]="form">
      <input
        type="text"
        class="form-control"
        formControlName="cityName"
        aria-label="search-by-zip-input"
        placeholder="Please enter city name"
        (keyup.enter)="addCity(form.value.cityName)"
      />
      <span *ngIf="!form.valid && form.dirty"
        >Please enter a valid city name</span
      >
    </div>
    <div
      *ngFor="let weather of cityList"
      class="card m-3 col-lg-3 col-md-4 col-sm-12 weather-card"
      style="max-width: 540px"
      [routerLink]="['details', weather.name]"
    >
      <div class="row g-0">
        <div class="col-md-4 align-items-center justify-content-center d-flex">
          <img
            src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png"
            class="img-fluid rounded-start"
            alt="{{ weather.icon }}"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ weather.name }}</h5>
            <p class="card-text" *ngIf="tempUnit === 'C'">
              Current: {{ weather.tempC }}&deg;C
            </p>
            <p class="card-text" *ngIf="tempUnit === 'F'">
              Current: {{ weather.tempF }}&deg;F
            </p>
            <p class="card-text" *ngIf="tempUnit === 'C'">
              Hi: {{ weather.tempLowC }}&deg;C
            </p>
            <p class="card-text" *ngIf="tempUnit === 'F'">
              Hi: {{ weather.tempLowF }}&deg;F
            </p>
            <p class="card-text" *ngIf="tempUnit === 'C'">
              Low: {{ weather.tempLowC }}&deg;C
            </p>
            <p class="card-text" *ngIf="tempUnit === 'F'">
              Low: {{ weather.tempLowF }}&deg;F
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
